body{
    background: url(../images/chalkboard.jpg);
}

* {
    box-sizing: border-box;
}

.jumbotron{
    background-color: rgb(7, 7, 88, 0.9);
    border-bottom: solid 1px gray;
    color: lightgrey;
}

img{
    width: 150px;
    height: 150px;
}

.gifDiv {
    float: left;
    margin: 3px;
}

.action {
    margin-left:5px;
    margin-bottom: 5px;
}

legend, label{
    color:lightgray;
}

.w{
    color: lightgray;
}